/* import Cutive Mono from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

/* general styles */
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 5, 20);
  height: 100vh;
  margin: 0;
  scroll-behavior: none;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Cutive Mono", monospace;
  text-shadow: 2px 2px 15px rgb(7, 7, 247), -2px -2px 15px rgb(160, 2, 160),
    1px 1px 3px white;
  font-size: 3em;
}

.hidden {
  display: none;
}

header {
  background: linear-gradient(rgb(42, 19, 63), rgb(3, 3, 12));
}

main {
  display: flex;
  justify-content: center;
  height: auto;
  flex-grow: 1;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgb(3, 3, 12), rgb(42, 19, 63));
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* game object styles */
.game-outter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;
  width: 310px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgb(42, 19, 63), 0px 0px 30px rgb(250, 248, 248);
  position: absolute;
  border: 1px solid white;
}

.game-inner {
  height: 90%;
  width: 90%;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid grey;
}

/* colour buttons styles */
.red,
.blue,
.green,
.purple {
  width: 70%;
  height: 70%;
  position: relative;
}

.red {
  background-color: red;
  right: 56px;
  bottom: 56px;
}

.blue {
  background-color: blue;
  left: 141px;
  top: -251px;
}

.purple {
  background-color: rgb(148, 20, 148);
  bottom: 444px;
  right: 56px;
}

.green {
  background-color: green;
  left: 142px;
  bottom: 248px;
}

/* center interface */

.center-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  border: 3px solid grey;
  color: white;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  z-index: 100;
  position: absolute;
}

p {
  width: 50px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 15px;
}

#score {
  background-color: rgb(37, 36, 51);
  border: 1px solid grey;
  width: fit-content;
  max-width: 120px;
  text-align: center;
  padding: 1px 2px;
}

main {
  display: flex;
  justify-content: center;
  height: auto;
  flex-grow: 1;
}
h1 {
  color: white;
  text-align: center;
}

footer {
  padding: 15px;
  color:white;
}
