body {
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 5, 20);
  height: 100vh;
  margin: 0;
  scroll-behavior: none;
}

.hidden {
  display: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* game object styles */
.game-outter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;
  width: 310px;
  background-color: black;
  border-radius: 50%;
  margin-top: 200%;
  box-shadow: 0px 0px 25px rgb(250, 248, 248);
  position: absolute;
}

.game-inner {
  height: 90%;
  width: 90%;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid grey;
}

/* colour buttons styles */
.red,
.blue,
.green,
.purple {
  width: 70%;
  height: 70%;
  position: relative;
}

.red {
  background-color: red;
  right: 56px;
  bottom: 56px;
}

.blue {
  background-color: blue;
  left: 141px;
  top: -251px;
}

.purple {
  background-color: rgb(148, 20, 148);
  bottom: 444px;
  right: 56px;
}

.green {
  background-color: green;
  left: 141px;
  bottom: 249px;
}

/* center interface */

.center-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 3px solid grey;
  color: white;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin-top: -232%;
  margin-left: 20%;
  z-index: 100;
  position: absolute;
}

#score {
  background-color: rgb(3, 3, 70);
  border: 1px solid grey;
  width: 20px;
  text-align: center;
  margin-top: 10px;
}

